{% extends "admin/change_list.html" %}
{% block object-tools-items %}

{% endblock %}
{% block content_title %}
    <h1> Статистика </h1>
{% endblock %}

{% block result_list %}
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Статус</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Всего</a>
          </div>
        </th>
        
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in orders_summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.status }} </td>
        <td> {{ row.total  }} </td>

      </tr>
      {% endfor %}
    </tbody>
    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td> Итого </td>
        <td> {{ summary_total.total }} </td>
    </tr>
    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td> Пользователи (всего): </td>
        <td> {{customers_count.total}} </td>
    </tr>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}