{% load static %}
<!DOCTYPE html>
<html>
  {% include 'includes/header.html' %}
  <body>
    {% include 'includes/navbar.html' %}
    <div class="d-flex">
      <div class="container">
        <div class="row">
          {% if submitted %}
          <div class="mx-auto">
            <h1>Заказ отправлен!</h1>
            <p>Вы можете его посмотреть в своем личном кабинете</p>
          </div>  
          {% else %}
            <div class="col">
              <form action="" method=POST>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" value="Оформить заказ" class="btn btn-primary btn-lg btn-block">
              </form>
              {% include 'includes/footer.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/scripts.html' %}
  </body>
</html>