{% load static %}
<!DOCTYPE html>
<html>
  {% include 'includes/header.html' %}
  <body>
    {% include 'includes/navbar.html' %}
    <div class="d-flex">
      <div class="container">
        <div class="row">
          {% if submitted %}
          <div class="mx-auto">
            <h1>Заказ отправлен!</h1>
            <p>Вы можете его посмотреть в своем личном кабинете</p>
            <hr>
            <h2>Итоговая стоимость:</h2>
            {{page_obj.0.price|floatformat:-2}} руб.
          </div>  
          {% else %}
            <div class="col">
              <form action="" method=POST>
                {% csrf_token %}
                {{ form.media }}
                <h4 class="my-3">Количество слоев</h4>
                {{ form.layer }}
                <h4 class="my-3">Форма</h4>
                {{ form.form }}
                <h4 class="my-3">Топпинг</h4>
                {{ form.topping }}
                <h4 class="my-3">Ягоды</h4>
                {{ form.berry }}
                <h4 class="my-3">Декорации</h4>
                {{ form.decoration }}
                <h4 class="my-3">Комментарии к торту</h4>
                {{ form.comment }}
                <h4 class="my-3">Надпись на торте</h4>
                <small class="form-text text-muted">Мы можем разместить на торте любую надпись, например: «С днем рождения!»  ({{writing_price}} руб.)<br></small>
                {{ form.writing }}
                <h4 class="my-3">Дата и время доставки</h4>
                <small class="form-text text-muted">В случае срочной доставки в течение суток стоимость заказа будет увеличена на {{express_delivery_koef | floatformat:"0"}} %<br></small>
                {{ form.delivery_at }}
                <h4 class="my-3">Адрес доставки</h4>
                {{ form.address }}
                <h4 class="my-3">Промокод</h4>
                {{ form.promocode }}
                <hr class="my-4">
                <input type="submit" value="Оформить заказ" class="btn btn-primary btn-lg btn-block">
              </form>
              {% include 'includes/footer.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/scripts.html' %}
  </body>
</html>